*{
	margin: 0;
	padding: 0;
}
.clear{
	clear: both;
}
@font-face{
	font-family: "kaushan";
	src:url('font/KaushanScript-Regular.ttf');
}
@font-face{
	font-family: "monsterrat";
	src:url('font/Montserrat-Regular.ttf');
}

	/* banner */
.header{
	width: 100%;
	background-image: url('img/Untitled-1.jpg');
	background-size: 100%;
	height: 660px;
}
.wrapper{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}	
.header .nav ul{
	list-style: none;
	display: inline-block;
	width: 85%;
	margin-top: 30px;
}
.header .nav ul li {
	float: right;
	cursor: pointer;
	cursor: pointer;
}
.header .nav ul li a {
	text-decoration: none;
	color: #fff;
	display: inline-block;
	transition: .3s ease;
	border:1px solid transparent;
	margin-top: -10px;
	padding: 10px 10px; 
	font-size: .8em;
	font-family: sans-serif;
}
.nav ul .icon{
	display: none;
}
.nav ul li a:hover{
	color: #fce38a;
	display: inline-block;
	border-bottom: 1px solid #fce38a;
}
.banner h1{
	color: #fff;
	text-align: center;
}
.btn{
	margin: 0 auto;
	width: 100%;
}
.btn a{
	color: #fff;
	text-decoration: none;
	border: 1px solid #fff;
	padding:10px 20px;
	width: 10%;
	cursor: pointer;
	transition: .3s ease;
}
.btn a:hover{
	border:1px solid #000;
	color: #000;
}
.strip{
	width: 100%;
	margin-top: 150px;
	font-family: sans-serif;
	color: #fff;
}
.strip-col1{
	margin: 0 auto;
	width: 85%;
}
.strip-col{
	width: 22%;
	margin-left: 3%;
	float: left;
	display: inline-block;
}
.kuy {
	border-top: solid 2px red;
	margin-top: -2px;
	width: 20%;
	padding-bottom: 5px;
}
.kuy2{
	padding-top: 5px;
}
	/* End banner */


	/* start about */
.about{
	width: 100%;
	margin-top: 50px;
}
.about-col{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
.story{
	font-family: sans-serif;
}
.what{
	font-family: sans-serif;
	margin-bottom: 10px;
}
.pics{
	width: 80%;
	margin: 0 auto;
}
.pics-col1{
	width: 33.333333%;
	margin: 0 auto;
	float: left;
}
.pics-col{

}
.gallery1{
	background-image: url('img/Untitled-5.jpg');
	background-size: 100%;
	height: 220px;
	margin: 0px 15px;
	text-align: center;
	color: #fff;
	font-family: sans-serif;
}
.gallery2{
	background-image: url('img/Untitled-4.jpg');
	background-size: 100%;
	height: 220px;
	margin: 0px 15px;
}
.gallery3{
	background-image: url('img/Untitled-3.jpg');
	background-size: 100%;
	height: 220px;
	margin: 0px 15px;
}
/*End about*/


/*start bg*/
.bg{
	background-color: #95e1d3;
	margin-top: 50px;
	width: 100%;
	height: 200px;
}
.facts{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
.facts-col{
	width: 20%;
	float: left;
	text-align: center;
	justify-content: center;
}
.facts-col1, .facts-col2{
	border-right: 1px solid #fff;
	height: 100px;
	color: #fff;
	font-family: sans-serif;
}
.facts-col1{
	font-size: 3.5em;
	padding-top: 40px;
}
.facts-col2{
	font-size: 0.7em;
}
/*end bg*/


/* start work */
.work{
	width: 100%;
	margin: 50px 0px;
}
.work2{
	text-align: center;
}
.bor{
	width: 100%;
}
.border{
	border: solid 2px #fb5050;
	width: 50px;
	margin: 0 auto;
	margin-top: 20px;
}
.amazing-service{
			width: 100%;
			margin: 0px;
		}
		.amazing-service .conteiner{
			width:80%;
			margin: 0 auto;
		}
		.design{
			width: 33.33%;
			margin: 0 auto;
			float: left;
		}


		ul{
			width: 75%;
			margin: 0 auto;
		}
		img{
			float: left;
			padding-top: 5px;
		}
		li{
			padding-top: 5px;
			list-style: none;
		}
/*End work*/

/*start unique device*/
	.unique-device{
			background-image: url('img/bg.jpg');
			background-repeat: no-repeat;
			background-size: 100%;
			margin-top: 100px;
			height: 550px;
		}
		.uniq-1{
			text-align: center;
			padding-top: 50px;
		}
		.bann{
			text-align: center;
			background-image: url('img/ipod.jpg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 300px;
			padding-top: 110px;
			height: 400px;
		}
		.ipod{
			text-align: center;
		}
		.ged{
			float: right;
			margin-right: 30%;
			margin-top: 50px;
		}
/*End unique device*/

/* start service what*/
.scrol{
			overflow-y:scroll;
			height: 140px;
		}
		.service-what{
			width: 100%;
			padding-top:50px; 
		}
		.kontent{
			width: 80%;
			margin: 0 auto;
		}
		.photography{
			width: 50%;
			float: left;
		}
		.konteiner{
			text-align: center;
		}
		.photo{
			padding-top: 70px;
		}
		.graphy{
			text-align: left;
			padding: 20px 0px;
		}
		.graphy li{
			list-style: none;
			float: left;
		}
/* end service what*/

/*start quote*/
		.quote1{
			width: 100%;
			margin-top: 50px;
			background-color: #f8f8f8;
			height: 200px;
		}
		.jon{
			width: 80%;
			margin: 0 auto;
			padding-top: 50px;
		}
		.border1{
			border: solid 2px #fb5050;
			width: 50px;
			margin-top: 8px;
		}
		.lor{
			width: 13%;
			float: left;
		}
		.img{
			border: solid 2px #95e1d3;
			padding: 20px 30px;
			display: inline-block;
			float: left;
			margin-left: 20%;
		}
		.apalah{
			width: 50%;
			margin: 0 auto;
			float: right;
			margin-right: 150px;
		}
/*end quote*/

/* start who-we-are*/

.who-we-are{
	width: 100%;
	padding-top: 50px;
}





/*end who-we are*/

/*coba-coba responsive - gagal mode on */
@media screen and (max-width: 680px){
	.header{
		width: 100%;
		height: 1000px;
		background-repeat: no-repeat;
		background-size: auto;
	}
}
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: -10px;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: right;
    margin-top: 5px;
    background-color: #000;
  }
  .err{
  	position: fixed;
  	float: right;
  }
  .strip{
  	width: 100%;
  }
  .strip-col{
  	width: 100%;
  	padding-top: 50px;
  }
  .gallery1{
  	font-size: 10px !important;
  }
  .super{
  	margin-top: -15px;
  }
  .gallery2{
  	height: 90px;
  }
  .gallery1, .gallery3, .gallery2{
  	background-repeat: no-repeat;
  	font-size: 18px;
  }
  .facts-col{
  	width: 100%;
  }
  .facts-col1, .facts-col2{
  	margin-top: -50px;
  }
  .bg{
  	display:block;
  	margin-top: -50px;
  }
  .none{
  	display: none;
  }
}
/*end responsive*/
